.subscribeContainer {
    width: 100%;
    background: var(--primary);
    padding: 65px 0 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.subscribeTitle {
    font-size: 40px;
    font-weight: 700;
    color: var(--bg-primary);
    letter-spacing: 0.005em;
    margin-bottom: 16px;
}

.subscribeSubTitle {
    max-width: 445px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--bg-primary);
    letter-spacing: 0.005em;
    margin-bottom: 40px;
    line-height: 23.52px;
    font-family: "Open Sans", sans-serif;
}

.contactForm {
    width: 386px;
    height: 58px;
    padding: 5px 5px 5px 16px;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    align-items: center;

    & ::placeholder {
        font-size: 15px;
        font-weight: 700;
        padding-left: 16px;
        font-family: "Open Sans", sans-serif;
    }
}

.inputField {
    width: 100%;
    margin-right: 16px;
    font-size: 15px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: var(--simpleText);
    background: var(--bg-input);
}

.subscribeBtn {
    width: 99px;
    height: 49px;
    background-color: var(--primary);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: var(--bg-primary);
    font-weight: 700;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
}
