.cardContainer{
    width: 372px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    filter: drop-shadow(0 0 0.20rem rgba(13, 2, 4, 20%));
}
.cardImg{
    padding: 9px 9px 25px 9px;
}
.cardText{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 26px;
    margin-bottom: 34px;
    & li{
        margin-bottom: 17px;
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
    }
}

.name{
    font-weight: 700;
    font-size: 18px;
    // font-family: 'Red Hat Display', sans-serif;
}
.svg{
    padding-right: 10px;
}
.cardButtons{
    display: flex;
    flex-wrap: wrap;
    padding-left: 26px;
    margin-bottom: 40px;
}
.buttonLeft, .buttonRight{
    padding: 17px 40px;
    border: 2px solid var(--primary);
    border-radius: 4px;
    color: var(--primary);
    font-weight: 600;
} 
.buttonLeft{
    background-color: var(--primary);
    color: var(--bg-primary);
    margin-right: 25px;
}
